<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chef Table Register</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Tennis Online Register Form Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Stylesheets -->
    <link href="../static/reg/web/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">
</head>
<body>
    <h1 class="header-w3ls"> User Registration</h1>
    <div class="online-w3l-form">
        <div class="appointment-w3">
            <form class="form-detail" action="/reg_code_user" method="post" enctype="multipart/form-data">
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="text" class="top-up" name="name" pattern="[a-zA-Z .]+" placeholder="Name" required="">
                    </div>
                    <div class="form-right-w3ls">
                        <input type="file" class="top-up" name="img" accept=".jpg, .jpeg, .png" required="">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="email" id="email" name="email" placeholder="Email" required="" title="Please write valid email" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                    <p id="message"></p>
                    </div>
                    <div class="form-right-w3ls">
                        <input class="buttom" type="text" name="phone" pattern="[9876][0-9]{9}" placeholder="Phone Number" required="" title="Please enter a valid phone number">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-add-w3ls">
                    <input type="text" name="pin" placeholder="House number" pattern="[0-9]+" title="Please enter a valid number" required="">
                </div>
                <div class="form-add-w3ls">
                    <select class="form-control buttom" required name="gender">
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="text" name="place" placeholder="Place" required="" pattern="[a-zA-Z .]+" title="Please enter a valid place">
                    </div>
                    <div class="form-right-w3ls">
                        <input type="text" name="post" placeholder="Landmark" required="" pattern="[a-zA-Z .]+">
                        <div class="clearfix"></div>
                    </div>
                </div>
{#                <div class="main">#}
{#                    <div class="form-left-w3l">#}
{#                        <input type="text" name="username" placeholder="Username" required="">#}
{#                    </div>#}
{#                    <div class="form-right-w3ls">#}
{#                        <input type="text" name="password" placeholder="Password" required="">#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                </div>#}


                <div class="form-add-w3ls">
<input type="password" name="password" placeholder="Password" style="width: 100%;
    padding-left: 0px;
    color: #fff;
    outline: none;
    font-size: 15px;
    padding: .7em 1em .8em 0em;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 0px 0px 16px;
    display: inline-block;
    background: none;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    box-sizing: border-box;"
       title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                </div>
                <div class="btnn">
                    <input type="submit" value="Register" id="targetButton">
                </div>
            </form>
        </div>
    </div>
    <div class="copy">
        <p>&copy;2024 Chef Table. All Rights Reserved</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

        $("#email").keyup(function(){
            var email = $(this).val();

            $.ajax({
                type: "GET",
                url: "/checkemail",
                data: { email: email },
                success: function(data) {
                    if (data.is_taken) {
                        $('#message').text(data.error_message);
                        $('#targetButton').prop('disabled', true);
                    } else {
                        $('#message').text("");
                        $('#targetButton').prop('disabled', false);
                    }
                }
            });
        });
    </script>
</body>
</html>
